name: 03-templated-deploy-with-qa

on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Define environment parameters
env:
  RESOURCEGROUP_NAME: BicepPart2-RG
  ENVIRONMENT_TYPE: Test
  REGION: eastus2
  MAIN_DEPLOYMENT_LOCATION: chapter-3/main.bicep

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run Bicep build command
      run: az bicep build --file ${{ env.MAIN_DEPLOYMENT_LOCATION }}

  validate:
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      name: Sign in to Azure
      with:
        creds: ${{ secrets.YOUR_CRED_JSON }}
    - uses: azure/arm-deploy@v1
      name: Run preflight validation
      with:
        scope: subscription
        region: ${{ env.REGION }}
        deploymentName: ${{ github.run_number }}
        template: ${{ env.MAIN_DEPLOYMENT_LOCATION }}
        parameters: azureRegion=${{ env.REGION }}
        deploymentMode: Validate

  deploy:
    runs-on: ubuntu-latest
    needs: [lint, validate]
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      name: Sign in to Azure
      with:
        creds: ${{ secrets.YOUR_CRED_JSON }}
    - uses: azure/arm-deploy@v1
      name: Deploy resources
      with:
        failOnStdErr: false
        scope: subscription
        region: ${{ env.REGION }}
        deploymentName: ${{ github.run_number }}
        template: ${{ env.MAIN_DEPLOYMENT_LOCATION }}
        parameters: azureRegion=${{ env.REGION }}
